*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Oswald', sans-serif;
    font-size: 1.7rem;
    color: black;
    line-height: 1.5;
    background-color: #c7ecee;
}

nav {
    min-height: 8vh;
    background-color: white; 
}


ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.logo {
    height: 40px;
}

img:not(.logo) {
    width: 100%;
}

img {
    display: block;
}


.nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: white;
}

.nav-toggle {
    font-size: 1.5rem;
    background: transparent;
    border-color: transparent;
    cursor: pointer;
    transition: .3s ease transform;
    outline:none;
}

.nav-toggle:hover {
    transform: rotate(90deg);
}

.social-icons {
    display: flex;
}

#icon-img {
    filter: grayscale(1);
    transition: .3s ease filter;
    width: 20px
}


/* By default hide links */
.links {
    height: auto;
    display: flex;
    
}

.links a {
    font-size: 1rem;
    text-transform: capitalize;
    display: block;
    padding: 0;
    margin: 0 0.5rem;
    color: black;
}

.links a:hover {
    padding: 0;
    background: transparent;
    color: red;
    
}

.social-icons {
    display: none;

}

/*Toggle class */

.links {
    height: 0;
    overflow: hidden;
    transition: var(--transition);
}

.show-links {
    height: 7rem;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    transition: .5s ease height;
}



@media screen and (min-width: 800px) {
    .nav-center {
        max-width: 1170px;
        margin:0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
        background-color: white;
    }

    .nav-header {
        padding: 0;
        
    }

    .nav-toggle {
        display: none;
    }

    .links {
        height: auto;
    }

    .links a {
        padding: 0;
        margin: 0 0.5rem;
    }

    .links a:hover {
        padding: 0;
        background: transparent;
        color: red;
    }

    .social-icons {
        display: flex;
    }

    .social-icons a {
        margin: 0 0.5rem;
    }

}